node_modules
target
dist
logs
public
.cache
.vscode
.DS_Store
.idea
.next
yarn-error.log
npm-debug.log


git lfs install
git lfs track "*.mp4"
git add .gitattributes
git add path/to/video.mp4
git commit -m "Add video via LFS"
git push origin main
